<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--Barre de navigation-->
    <nav>
      </div>
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="#"><li>Chaise</li></a>
          <a href="#"><li>Canapé</li></a>
          <a href="#"><li>Etagère</li></a>
          <a href="#"><li>Promotion</li></a>
        </ul>
      </div>
      <div class="onglets">
        <p class="link">Produits</p>
        <p class="link">A la une</p>
        <p class="link">NEWS</p>
      <img class="watashiHouse" src="/images/WatashiHouse.jpg" />
      <div class="onglets">
        <form>
          <input type="search" placeholder="Rechercher" />
        </form>
        <p><i class="fas fa-shopping-cart"></i></p>
        <p><i class="far fa-user"></i></p>
      </div>
    </nav>
    <!--Fin de la barre de navigation-->
    <div class="login">
       <form class="form2">
     
    <h1>Se connecter</h1>
    <p class="choose-email">utiliser mon adresse e-mail :</p>
   
      <div class="inputs">
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Mot de passe">
    </div> 
    <p class="ou">ou :</p>
    <div class="social-media">
      <p><i class="fab fa-google"></i></p>
      <p><i class="fab fa-facebook-f"></i></p>
    </div>
    
  <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>

    <div align="center">
      <button type="submit">Se connecter</button>
    </div>
  </form>
  </body>
  
</html>
